body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin:5px;
}

li .checked

header {
    background-color: #25AE88;
}

h1 {
    text-align: center;
    padding:10px;
}

.header {
    border-bottom: 5px;
    border-bottom-style:solid;
    border-color: darkgrey;
    background-color: #25AE88;
}




.list-wrapper {

}

.the-list {
    
}

.list-items-container {
    padding:10px;
}

#addNewItem {
    
}

.item {
    float: left;
}

.icons {
    float: right;
}

.bin-closed, .checkButton {
    height: 20px;
}

.list-item {
    min-height: 30px;
    padding: 5px;
}

#checked {
    text-decoration: line-through;
}



@media screen and (max-width:600px) {
    .the-list {
    width:100%;
    }
}

@media screen and (min-width:601px) {
    head {
        background-image: url(backgroundGrad.jpg);
    }
    .the-list {
        width:550px;
        margin-left: auto;
        margin-right: auto;
    }
    .list-wrapper {
        width:100%;
        height:100%;
        background-image: url(backgroundGrad.jpg);
        
    }
}